<!DOCTYPE html>
<html>
	<head>
		<title>SweetNaps &ndash; Dashboard</title>
		<link rel='stylesheet' href='/stylesheets/pure-min.css' />
		<link rel='stylesheet' href='/stylesheets/main.css' />
	</head>
	<body>
		<div id="app">
			<h1>SweetNaps &ndash; Dashboard</h1>
			<div class="pure-g tiles">
				<div class="tile pure-u-4-24">
					<img class="pure-img" src="" alt="">
				</div>
				<div class="tile pure-u-1-24">
					<!--<img class="pure-img tile-arrow" src="/images/arrow-right.svg">-->
				</div>
				<div v-on:click="open" class="tile tile-btn pure-u-4-24 disabled" data-type="relax">
					<span id="sleep-time" class="label">OFF</span>
					<img class="pure-img" src="/images/relax.svg" alt="relax">
				</div>
				<div class="tile pure-u-1-24">
					<img class="pure-img tile-arrow" src="/images/arrow-right.svg">
				</div>

				<div v-on:click="open" class="tile tile-btn pure-u-4-24" data-type="sleep">
					<span id="sleep-time" class="label">00:30</span>
					<img class="pure-img" src="/images/sleep.svg" alt="sleep">
				</div>
				<div class="tile pure-u-1-24">
					<img class="pure-img tile-arrow" src="/images/arrow-right.svg">
				</div>
				<div v-on:click="open" class="tile tile-btn pure-u-4-24" data-type="sunrise">
					<span id="sleep-time" class="label">ON</span>
					<img class="pure-img" src="/images/sunrise.svg" alt="sunrise">
				</div>
				<div class="tile pure-u-1-24">
					<!--<img class="pure-img tile-arrow" src="/images/arrow-right.svg">-->
				</div>
				<div class="tile pure-u-4-24">
					<img class="pure-img" src="">
				</div>
			</div>

			<div class="pure-g tiles">
				<div class="tile pure-u-4-24">
					<img class="pure-img" src="" alt="">
				</div>
				<div class="tile pure-u-1-24">
					<!--<img class="pure-img tile-arrow" src="/images/arrow-right.svg">-->
				</div>
				<div v-on:click="open" class="tile tile-btn pure-u-4-24 disabled" data-type="music-before">
					<span id="sleep-time" class="label">OFF</span>
					<img class="pure-img" src="/images/music.svg" alt="music">
				</div>

				<div class="pure-u-6-24">&nbsp;</div>

				<div v-on:click="open" class="tile tile-btn pure-u-4-24 pure-u-4-24" data-type="music-after">
					<span id="sleep-time" class="label">ON</span>
					<img class="pure-img" src="/images/music.svg" alt="music">
				</div>
				<div class="tile pure-u-1-24">
					<!--<img class="pure-img tile-arrow" src="/images/arrow-right.svg">-->
				</div>
				<div class="tile pure-u-4-24">
					<img class="pure-img" src="">
				</div>
			</div>

			<div class="modal" v-if="show">
				<div class="modal-container">
					<div class="close" v-on:click="close">&times;</div>
					<h3>Salut</h3>
					<p>Je suis un modal</p>
				</div>
			</div>

			<script src="/javascripts/vue.min.js"></script>
			<script src="/javascripts/modal.js"></script>
			<script src="/javascripts/main.js"></script>
		</div>
	</body>
</html>
